<div class="structure-info-panel">

    <div class="loading-wrapper" *ngIf="!initialLoadComplete && isLoading">
        <mat-spinner [diameter]="120" [strokeWidth]="6"/>
    </div>

    <ng-container *ngIf="!isLoading || selectedEntity">
        <div class="structure-tree-container">
            <app-structure-tree 
                [entity]="rootBuilding"
                (nodeClicked)="onNodeSelected($event)"
                (loadingChange)="onTreeLoading($event)">
            </app-structure-tree>

        </div>

        <mat-divider *ngIf="initialLoadComplete" [vertical]="true" class="vertical-divider"/>

        <mat-spinner *ngIf="initialLoadComplete && (isLoading || detailsLoading)" class="loading-spinner" [diameter]="90" [strokeWidth]="6"/>

        <div *ngIf="!isLoading && selectedEntity !== undefined" class="structure-content-container">

            <app-structure-details
                [entity]="selectedEntity"
                (loadingChange)="onDetailsLoading($event)">
            </app-structure-details>
            
        </div>
    </ng-container>

    
    <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>

</div>
