:host {
    height: 100%;
    width: 100%;
}

.structure-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}

mat-panel-title {
    margin: 1.4rem auto 1rem;
}

mat-expansion-panel {
    background: inherit !important;
    box-shadow: none !important;
    border: none !important;
  }

mat-expansion-panel-header {
    padding-left: 0;

    // h3.expanded {
    //     margin-top: 12px;
    // }
}
