:host {
    height: 100%;
    width: 100%;
}

.structure-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}

mat-panel-title {
    margin: 1.4rem auto 1rem;
}

mat-expansion-panel {
    background: inherit !important;
    box-shadow: none !important;
    border: none !important;
}

mat-expansion-panel-header {
    padding-left: 12px;
    padding-right: 20px;
}

.chart-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.e-chart-container {
    width: 100%;
    min-width: 300px;
    max-width: 420px;
    aspect-ratio: 1 / 1.05; // Ensures height is always equal to width
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materials-chart-container {
    aspect-ratio: 1 / 1.12;
}

.custom-legend-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media (max-width: 800) {
    mat-expansion-panel-header {
        padding-right: 24px;
    }
}