<ng-container *ngIf="isBuilding; else buildingPartDetails">
    <header class="structure-info-header">
        <h2 class="structure-info-title"> Gebäude: {{ building?.bw_geb_id }} </h2>
    </header>
    
    <mat-divider class="horizontal-divider"/>

    <mat-accordion [multi]="true">
        <mat-expansion-panel #infopanel [expanded]="true" class="info-container">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 [class.expanded]="infopanel.expanded">Informationen</h3> 
                </mat-panel-title>
              </mat-expansion-panel-header>

            
            <div class="information-container">
                <p>Nutzung: {{ usageLabel }}</p>
                <p>Bauperiode: {{ periodLabel }}</p>
                <p>Maximale Höhe: {{ building?.maxhoehe}} m</p>
                <p [innerHTML]="'Volumen: ' + (building?.m3vol ?? 'Keine Information') + ' m&sup3;'"></p>    
                <p [innerHTML]="'Fläche: ' + (building?.m2flaeche ?? 'Keine Information') + ' m&sup2;'"></p>
                <p [innerHTML]="'Bruttogeschoßfläche: ' + (building?. m2bgf ?? 'Keine Information') + ' m&sup2;'"></p>        
            </div>

            <div class="chart-container">
                <echarts [options]="usagePieChartOptions" class="e-chart-container"></echarts>
                <echarts [options]="materialsPieChartOptions" class="e-chart-container materials-chart-container"></echarts>
           </div>
        </mat-expansion-panel>

        <mat-expansion-panel #docPanel [expanded]="true" class="document-container">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 [class.expanded]="docPanel.expanded">Dokumente</h3> 
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <app-document-list [entity]="entity" />

        </mat-expansion-panel>
    </mat-accordion>
    
    
</ng-container>

<ng-template #buildingPartDetails>
    <header class="structure-info-header">
        <h2 class="structure-info-title"> Bauelement: {{ buildingPart?.id }} </h2>
    </header>

    <mat-divider class="horizontal-divider"/>

    <mat-accordion [multi]="true">
        <mat-expansion-panel #infopanel [expanded]="true" class="info-container">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 [class.expanded]="infopanel.expanded">Informationen</h3> 
                </mat-panel-title>
              </mat-expansion-panel-header>

            
              <div class="info-container">
                <div class="info-content">
                    <div class="information-container">
                        <p>Name: {{ buildingPart?.name }}</p>
                        <p>Beschreibung: {{ buildingPart?.description }}</p>
                    </div>
                </div>
            </div>
        
            <div class="chart-container">
                <!-- TODO: add e-chart component for buildingPart -->
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel #docPanel [expanded]="true" class="document-container">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 [class.expanded]="docPanel.expanded">Dokumente</h3> 
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <app-document-list [entity]="entity" />

        </mat-expansion-panel>
    </mat-accordion>

</ng-template>