:host {
    display: flex;
    height: 100%;
    width: 360px;
}

.filter-menu {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    background: white;
    color: #000;
    z-index: 1500;
    padding: 8px 12px 12px;
    border-radius: 12px;
    box-sizing: border-box;
}

.filter-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}

.filter-menu-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

mat-divider {
    margin: 2px 12px 2rem auto;
}

h3 {
    font-size: 1.2rem;
    margin: 0 0 8px;
}

mat-form-field {
    width: 100%;
    font-size: 15px;
}

button {
    font-size: 14px;
}

