<div class="filter-menu">
    <header class="filter-menu-header">
        <h2 class="filter-menu-title">Karten Filter</h2>
        <button mat-icon-button class="close-button" (click)="closeFilterMenu()">
            <mat-icon>close</mat-icon>
        </button>
    </header>

    <mat-divider />

    
    <h3>Bauperioden</h3>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bauperioden</mat-label>
        
        <mat-select [formControl]="periodControl" multiple (selectionChange)="updatePeriodSelection()">
          <mat-option *ngFor="let period of periodOptions" [value]="period">
            {{ periodLabels[period] }}
          </mat-option>
        </mat-select>
    </mat-form-field>



    <h3>Nutzung</h3>  

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nutzung</mat-label>
        <mat-select [formControl]="usageControl" multiple (selectionChange)="updateUsageSelection()">
          <mat-option *ngFor="let usage of usageOptions" [value]="usage">
            {{ usageLabels[usage] }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="filter-menu-footer">
        <button mat-flat-button color="primary" (click)="resetForm()" [disabled]="isResetDisabled()">
            Filter zurücksetzen
        </button>
    </div>

</div>