# ======================================================
# m-hub environment configuration template
# Copy this file to ".env" and adjust the values
# ======================================================

# ----------------------
# Docker / Compose
# ----------------------
COMPOSE_PROJECT_NAME=m-hub
# Only required on arm64 (e.g. Apple Silicon)
#DOCKER_PLATFORM=linux/amd64

# ----------------------
# PostgreSQL credentials
# ----------------------
POSTGRES_DB=mhubdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

POSTGRES_HOST=m-hub-db
POSTGRES_PORT=5432

# ----------------------
# Ports: Backend / Frontend / API
# ----------------------
POSTGIS_API_PORT=3002
FRONTEND_PORT=80
BACKEND_PORT=1880
SEAWEED_MASTER_PORT=9333
SEAWEED_FILER_PORT=8888

# ----------------------
# SeaweedFS
# ----------------------
SEAWEED_FILER_INTERNAL_URL=http://seaweed-filer:8888    # URL used by backend container to upload files into Seaweed filer
SEAWEED_PUBLIC_BASE_URL=http://localhost:8888           # URL returned to clients for rendering object images
SEAWEED_VOLUME_MAX=0                                    # Maximum number of volume files per volume server. Use 0 to let SeaweedFS decide automatically.
                                 