# we proudly present...
name: m-hub
# Define the services for m-hub
services:
  m-hub-db:
    # Use the specified Docker image
    image: m-hub-db
    # Specify the build context (location of Dockerfile)
    build: ./m-hub-db
    # Expose port 5432 from the container to the host
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: mhubdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mhubdb"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes: 
      - pgdata:/var/lib/postgresql/data
  gdal:
    image: osgeo/gdal:alpine-small-3.6.3
    profiles: ["import"]
    volumes:
      - ./data:/data                          
    depends_on:
      m-hub-db:
        condition: service_healthy
    environment:
      POSTGRES_HOST: m-hub-db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: mhubdb
      POSTGRES_PORT: 5432
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: >
      sh -c "
        echo 'Importing BUILDING DATA...';
        ogr2ogr -f PostgreSQL \"PG:host=$$POSTGRES_HOST user=$$POSTGRES_USER dbname=$$POSTGRES_DB password=$$POSTGRES_PASSWORD\" /data/mhub_wien.gpkg buildings_details -nln buildings_details -nlt PROMOTE_TO_MULTI -progress &&
        echo 'Importing BUILDINGBLOCK DATA...';
        ogr2ogr -f PostgreSQL \"PG:host=$$POSTGRES_HOST user=$$POSTGRES_USER dbname=$$POSTGRES_DB password=$$POSTGRES_PASSWORD\" /data/mhub_wien.gpkg buildingblocks -nln buildingblocks -nlt PROMOTE_TO_MULTI -progress;
        echo 'Data import completed.'
      "
  m-hub-postgis-api:
    build: ./m-hub-postgis-api
    image: m-hub-postgis-api
    ports:
      - "3002:3000"
    environment:
      POSTGRES_CONNECTION: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@m-hub-db:5432/mhubdb
      TABLES: '["buildings_details","buildingblocks"]'
      PORT: 3002
    depends_on:
      m-hub-db:
        condition: service_healthy
  m-hub-backend:
    # Use the specified Docker image
    image: m-hub-backend
    # Specify the build context (location of Dockerfile)
    build:
      context: m-hub-backend
    # Expose port 1880 from the container to the host
    ports:
      - "1880:1880"
    # Mount host directories to container directories as volumes
    volumes:
      - ./m-hub-backend/data:/data
    depends_on:
      - m-hub-postgis-api
  m-hub-frontend:
    # Use the specified Docker image
    image: m-hub-frontend
    # docker run -i
    stdin_open: true
    # docker run -t
    tty: true
    # Specify the build context (location of Dockerfile)
    build:
      context: m-hub-frontend
    # Expose port 4200 from the container to the host port 80
    ports:
      #  - "80:4200"
      - 80:3200
    # Mount host directories to container directories as volumes
    volumes:
      - ./m-hub-frontend/dist/m-hub-frontend/browser:/home/static
      - ./m-hub-frontend/httpd.conf:/home/static/httpd.conf:ro
    # Don't start before backend
    depends_on:
      - m-hub-backend
volumes:
  # declares named value
  pgdata: 