:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} 

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 14px;
  gap: 2rem;
  box-sizing: border-box;
}

.mdc-dialog__container {
  padding: 8px 12px 12px;
}

.header {
  margin-bottom: 1rem;
}

h2 {
  margin: 10px 0;
  font-size: 1.6rem;
  line-height: 1;
}

h3 {
  font-size: 1.2rem;
  margin: 0 0 8px;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

.content-wrapper {
  display: flex;
  flex-direction: inherit;
  gap: 1.5rem;
}

.user-specific-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.name-wrapper,
.address-wrapper {
  flex: 1 1 328px;
  min-width: 260px;
}

.structure-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.structure-header {
  margin: 2rem 0 1rem;
}

.selectors {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 220px;
  gap: 1rem;
  margin-top: 42px;
}

.house-chart {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .house-interactive{
    width: 420px;
    height: 100%;
  }
}

.warning-box {
  margin-top: 1.5rem;
  padding: 16px;
  background-color: #ececec;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

::ng-deep .confirm-toggle .mdc-switch {
  transform: scale(1.2);
  margin-right: 8px;
}

.confirm-toggle {
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

mat-error {
  font-size: 14px;
}


@media (max-width: 520px) {
  .dialog-container {
    padding: 6px 8px;
    gap: 1rem;
  }

  .header {
    margin-bottom: 0;
  }

  .content-wrapper {
    gap: 0.5rem;
  }

  .description-wrapper {
    gap: 2px;
  }

  .house-chart {
      width: 100%;
      height: auto;
  }
}

@media (max-width: 874px) {
  .structure-header {
    margin: 0;
  }

  .selectors {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .house-chart {
    display: none !important;
  }

  .actions {
    margin-top: 4px;
  }
}
