<div class="dialog-container">
    <h2 mat-dialog-title class="header">Gebäude hinzufügen</h2>

    <div mat-dialog-content class="content-wrapper">
        
        <div class="user-specific-wrapper">
            <div class="name-wrapper">
                <h3>Name</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="name" [required]="true" />
                    <mat-error *ngIf="getNameError()">{{ getNameError() }}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="address-wrapper">
                <h3>Adresse</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Adresse</mat-label>
                    <input matInput [(ngModel)]="address" />
                </mat-form-field>
            </div>

        </div>
        
        <div>
            <div class="structure-wrapper">                
                <div class="selectors">
                    <h3 class="structure-header">Gebäudestruktur</h3>

                    <mat-form-field *ngFor="let floor of floors.slice().reverse(); let i = index" appearance="outline">
                        <mat-label>{{ floor.label }}</mat-label>
                        <mat-select
                            [(ngModel)]="floorValues[i]"
                            [ngModelOptions]="{ standalone: true }"
                            (selectionChange)="onFloorChange()"
                            [required]="true"
                            [errorStateMatcher]="matcher"
                            (focus)="highlightFloor(floor.name)"
                            (blur)="clearHighlight()"
                        >
                            <mat-option [value]="null" disabled>-- Anzahl der Geschosse auswählen --</mat-option>
                            <mat-option *ngFor="let val of valueOptions" [value]="val">{{ val }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="floorValues[i] === null">Bitte Anzahl der Geschosse auswählen</mat-error>

                    </mat-form-field>

                    <mat-error *ngIf="allFloorsSelectedAndZero" style="font-size: 16px;">
                        Gebäude muss mindestens ein Geschoss haben.
                    </mat-error>
                    
                </div>
                
                <div class="house-chart">
                    <svg id="house" class="house-interactive" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 786.63 828.81" alt="Darstellung eines Hauses als Referenz für die Hausstruktur">
                        <g id="Dach">
                            <line x1="393.32" y1="34.03" x2="15" y2="307.64" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 30px;"/>
                            <line x1="393.32" y1="34.03" x2="771.63" y2="307.64" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 30px;"/>
                        </g>
                        <g id="Schornstein">
                            <line x1="215.94" y1="114.95" x2="215.14" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                            <line x1="274.56" y1="68.61" x2="273.81" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                            <line x1="273.81" y1="10" x2="215.94" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                        </g>
                        <g id="Stockwerke">
                            <g id="KG">
                            <rect id="pane-KG" x="103.23" y="671.06" width="577.7" height="143.75" [attr.fill]="highlightedFloor === 'KG' ? '#f5f5dc' : 'none'"/> <!-- change to DG color? --> <!-- #eeeeee -->
                            </g>
                            <g id="EG">
                            <rect id="pane-EG" x="104.46" y="512.99" width="577.7" height="157.75" [attr.fill]="highlightedFloor === 'EG' ? '#d0e7f9' : 'none'"/> <!-- change to DG color? -->
                            <path id="tuer" d="M355.33,664.78c.36-33.52-.52-67.47.36-101.02,25.09,0,50.62,0,75.56.2-.03.14.01.27-.04.4-.02-.18,0-.24.04-.4.15,33.34.15,66.89-.07,100.28" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 15px;"/>
                            </g>
                            <g id="OG">
                            <rect id="pane-OG" x="104.77" y="355.24" width="577.7" height="157.75" [attr.fill]="highlightedFloor === 'OG' ? '#fce9d7' : 'none'"/> <!-- change to DG color? -->
                            <g>
                                <path id="fenster" d="M266.82,460.76c.13-17.8.13-35.69.04-53.47-.02.08-.04.12-.03.21.03-.07,0-.14.03-.21-15.28-.11-30.92-.11-46.29-.11-.54,17.88,0,35.99-.22,53.86l46.47-.29Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                                <path id="fenster1" data-name="fenster" d="M566.2,460.76c.13-17.8.13-35.69.04-53.47-.02.08-.04.12-.03.21.03-.07,0-.14.03-.21-15.28-.11-30.92-.11-46.29-.11-.54,17.88,0,35.99-.22,53.86l46.47-.29Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                            </g>
                            </g>
                            <g id="DG">
                            <polygon id="pane-DG" points="682.47 299.31 682.47 355.24 104.79 355.24 104.79 299.31 392.3 89.95 682.47 299.31" [attr.fill]="highlightedFloor === 'DG' ? '#d9f0e1' : 'none'"/>  <!-- #favourit -->
                            <g>
                                <path id="dachfenster" d="M349.56,290.33c.1-26.26.1-52.65.03-78.87-.02.12-.03.18-.02.32.03-.1,0-.21.02-.32-12-.16-24.29-.16-36.36-.16-.42,26.38,0,53.09-.17,79.45l36.5-.42Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                                <path id="dachfenster1" data-name="dachfenster" d="M473.51,290.33c.1-26.26.1-52.65.03-78.87-.02.12-.03.18-.02.32.03-.1,0-.21.02-.32-12-.16-24.29-.16-36.36-.16-.42,26.38,0,53.09-.17,79.45l36.5-.42Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                            </g>
                            </g>
                            <line id="floor3" x1="112.71" y1="355.06" x2="679.1" y2="355.06" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <line id="floor2" x1="110.55" y1="512.99" x2="676.94" y2="512.99" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <line id="floor1" x1="112.71" y1="670.91" x2="679.1" y2="670.91" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                        </g>
                        <path id="Fassade" d="M104.79,299.31L392.3,89.95l290.17,209.36v55.75s0,157.92,0,157.92v157.92s0,143.9,0,143.9H104.16l.18-143.9.19-157.92.19-157.92.07-55.75" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 28px;"/>
                    </svg>
                </div>
            </div>

            <div *ngIf="structureIsAvailable && hasStructureChanged()" class="structure-change-confirmation" style="margin-top: 16px;">
                <mat-card class="warning-box">
                    <div class="toggle-wrapper">
                        <span><strong>Achtung:</strong> Die Gebäudestruktur wurde verändert! Diese Änderung entfernt alle bestehenden Gebäudedaten. <br/> Bitte bestätigen Sie die Korrektheit der Gebäudestruktur.</span>
                        <mat-slide-toggle [(ngModel)]="confirmStructureChange" [color]="'primary'" class="confirm-toggle">
                            Strukturänderung bestätigen
                        </mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="actions">
        <button mat-button (click)="close()">Abbruch</button>
        <button 
            mat-button 
            color="primary" 
            (click)="confirmAddBuilding()"  
            [disabled]="!isFormValid() || (structureIsAvailable && hasStructureChanged() && !confirmStructureChange)"
        >
            Hinzufügen
        </button>
    </div>
</div>

