<div class="dialog-container">
    <h2 mat-dialog-title class="header">Gebäude hinzufügen</h2>

    <div mat-dialog-content class="content-wrapper">
        
        <div class="user-specific-wrapper">
            <div class="name-wrapper">
                <h3>Name</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="name" />
                </mat-form-field>
            </div>
            
            <div class="address-wrapper">
                <h3>Adresse</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Adresse</mat-label>
                    <input matInput [(ngModel)]="address" />
                </mat-form-field>
            </div>

        </div>
        
        <div>
            <h3 style="margin-bottom: 12px;">Gebäudestruktur</h3>
            <div class="structure-wrapper">
                <div class="selectors">
                    
                    <mat-form-field *ngFor="let floor of floors.slice().reverse(); let i = index" appearance="outline">
                        <mat-label>{{ floor.label }}</mat-label>
                        <mat-select
                            [(ngModel)]="floorValues[i]"
                            [ngModelOptions]="{ standalone: true }"
                            (selectionChange)="onFloorChange()"
                            [required]="true"
                            [errorStateMatcher]="matcher"
                            (focus)="highlightFloor(floor.name)"
                            (blur)="clearHighlight()"
                        >
                            <mat-option [value]="null" disabled>-- Anzahl der Geschosse auswählen --</mat-option>
                            <mat-option *ngFor="let val of valueOptions" [value]="val">{{ val }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="floorValues[i] === null">Bitte Anzahl der Geschosse auswählen</mat-error>

                    </mat-form-field>

                    <mat-error *ngIf="allFloorsSelectedAndZero" style="font-size: 16px;">
                        Gebäude muss mindestens ein Geschoss haben.
                    </mat-error>
                    
                </div>
                
                <div class="house-chart">
                    <img src="assets/images/house_icon_primary.svg" class="house-icon" loading="eager" />
                    <!-- <svg src="assets/images/house_icon_primary.svg" 
                        alt="House Icon" 
                        class="house-icon" 
                    ></svg> -->
                </div>
            </div>

            <div *ngIf="structureIsAvailable && hasStructureChanged()" class="structure-change-confirmation" style="margin-top: 16px;">
                <mat-card class="warning-box">
                    <div class="toggle-wrapper">
                        <span><strong>Achtung:</strong> Die Gebäudestruktur wurde verändert! Diese Änderung entfernt alle bestehenden Gebäudedaten. <br/> Bitte bestätigen Sie die Korrektheit der Gebäudestruktur.</span>
                        <mat-slide-toggle [(ngModel)]="confirmStructureChange" [color]="'primary'" class="confirm-toggle">
                            Strukturänderung bestätigen
                        </mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
        </div>
        
        
    </div>

    <div mat-dialog-actions class="actions">
        <button mat-button (click)="close()">Abbruch</button>
        <button 
            mat-button 
            color="primary" 
            (click)="confirmAddBuilding()"  
            [disabled]="!isFormValid() || (structureIsAvailable && hasStructureChanged() && !confirmStructureChange)"
        >
            Hinzufügen
        </button>
    </div>
</div>

