:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} 

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  gap: 1.4rem;
  box-sizing: border-box;
}

.mdc-dialog__container {
  padding: 8px 12px 12px;
}

mat-divider {
    margin: 0 auto;
}

.header {
  margin-bottom: 12px;
}

h1 {
  margin: 10px 0;
  font-size: 1.8rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 6px;
}

h3 {
  font-size: 1.2rem;
  margin: 0 0 6px;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

.content-wrapper {
  display: flex;
  flex-direction: inherit;
  gap: 8px;
}

.building-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.name-wrapper,
.address-wrapper {
  flex: 1 1 328px;
  min-width: 260px;
}

.structure-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.floor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 16px;
  border: 2px solid #888888;
  border-radius: 8px;


  // mat-form-field {
  //   max-width: 320px;
  // }

}

.form-box {
  h3 {
    margin-bottom: 16px;
  }
}

.image-box {
  align-content: center;
}

.image-box img {
  width: 360px;
  max-width: 100%;
  height: auto;
  display: block;
}

.dashed-block {
  border: 2px dashed #888;
  padding: 4px;
  border-radius: 8px;
}

.add-button {
  display: flex;
  justify-content: center;
}

.separator-dashed {
  border-top: 2px dashed #999;
  margin: 20px 0;
}



// .structure-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   gap: 2rem;
// }

// .structure-header {
//   margin: 2rem 0 1rem;
// }

// .floor-input {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   min-width: 180px;
//   gap: 1.2rem;
// }

// .floor-row {
//   display: flex;
//   gap: 1rem;
//   align-items: flex-start;
// }

// .floor-count,
// .floor-height {
//   flex: 1;
//   min-width: 140px;
// }


// .house-chart {
//   flex: 2;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .house-interactive{
//     width: 360px;
//     height: 100%;
//   }
// }

.warning-box {
  margin-top: 1.5rem;
  padding: 16px;
  background-color: #ececec;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

::ng-deep .confirm-toggle .mdc-switch {
  transform: scale(1.2);
  margin-right: 8px;
}

.confirm-toggle {
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

mat-error {
  font-size: 14px;
}


@media (max-width: 520px) {
  .dialog-container {
    padding: 6px 8px;
    gap: 1rem;
  }

  .header {
    margin-bottom: 0;
  }

  .content-wrapper {
    gap: 0.5rem;
  }

  .description-wrapper {
    gap: 2px;
  }

  .house-chart {
      width: 100%;
      height: auto;
  }
}

@media (max-width: 874px) {
  .structure-header {
    margin: 0;
  }

  .floor-input {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .house-chart {
    display: none !important;
  }

  .actions {
    margin-top: 4px;
  }
}
