<div class="dialog-container">
    <h1 mat-dialog-title class="header">Gebäude hinzufügen</h1>

    <div mat-dialog-content class="content-wrapper">

        <h2>Gebäudeinformationen</h2>
        <div class="building-info-wrapper">
            <div class="name-wrapper">
                <h3>Name</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="name" [required]="true" />
                    <mat-error *ngIf="getNameError()">{{ getNameError() }}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="address-wrapper">
                <h3>Adresse</h3>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Adresse</mat-label>
                    <input matInput [(ngModel)]="address" />
                </mat-form-field>
            </div>

        </div>
        
        
        <div>
            <h2>Gebäudestruktur</h2>
                <div class="structure-wrapper">                
                <div class="floor-input">
                    <h3 class="structure-header">Regelgeschosse</h3>

                    <div *ngFor="let floor of floors.slice().reverse(); let i = index" class="floor-row">
                        <!-- Floor count -->
                        <mat-form-field appearance="outline" class="floor-count">
                        <mat-label>Geschosse {{ floor.label }}</mat-label>
                        <mat-select
                            [(ngModel)]="floorValues[i]"
                            [ngModelOptions]="{ standalone: true }"
                            (selectionChange)="onFloorChange()"
                            [required]="true"
                            [errorStateMatcher]="matcher"
                            (focus)="highlightFloor(floor.name)"
                            (blur)="clearHighlight()"
                        >
                            <mat-option [value]="null" disabled>-- Anzahl auswählen --</mat-option>
                            <mat-option *ngFor="let val of valueOptions" [value]="val">{{ val }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="floorValues[i] === null">
                            Bitte Anzahl auswählen
                        </mat-error>
                        </mat-form-field>

                        <!-- Floor height -->
                        <mat-form-field appearance="outline" class="floor-height">
                        <mat-label>Höhe (cm)</mat-label>
                        <input
                            matInput
                            type="number"
                            min="1"
                            step="1"
                            [(ngModel)]="floorHeights[i]"
                            [ngModelOptions]="{ standalone: true }"
                            (focus)="highlightFloor(floor.name)"
                            (blur)="clearHighlight()"
                            required
                        />
                        <mat-error *ngIf="!floorHeights[i] || floorHeights[i] <= 0">
                            Höhe muss > 0 sein
                        </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-error *ngIf="allFloorsSelectedAndZero" style="font-size: 16px;">
                        Gebäude muss mindestens ein Geschoss haben.
                    </mat-error>
                </div>

                <div class="house-chart">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 899.5 724.8" alt="Darstellung eines Hauses als Referenz für die Hausstruktur">
                        <g id="house">
                            <g id="KG">
                                <rect id="pane-KG" x="54.1" y="472.5" width="577.7" height="201.9" [attr.fill]="highlightedFloor === 'KG' ? '#d9f0e1' : 'none'"/>
                            </g>
                            <g id="OG">
                                <rect id="pane-OG" x="55.8" y="272.2" width="577.7" height="201.9" [attr.fill]="highlightedFloor === 'OG' ? '#d9f0e1' : 'none'"/>
                            </g>
                            <g id="DG">
                                <polygon id="pane-DG" points="635.3 235.6 635.3 271 56.8 271 56.8 235.6 344.7 13 635.3 235.6" [attr.fill]="highlightedFloor === 'DG' ? '#d9f0e1' : 'none'"/>
                            </g>
                            <line id="floor2" x1="63.7" y1="272.2" x2="630.1" y2="272.2" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <line id="floor1" x1="55.8" y1="474.1" x2="633.5" y2="474.1" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <path id="Fassade" d="M56.8,229.9L344.3,13l290.2,216.9v444H56.2l.2-59,.2-163.6.2-163.6v-57.8" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 26px;"/>
                            <g id="Label">
                                <g>
                                <path d="M734.2,462.3h-6.8v6.3h7.6v1.9h-9.9v-17.5h9.5v1.9h-7.2v5.5h6.8v1.9Z"/>
                                <path d="M737.8,461.9c0-1.5,0-2.8-.1-3.9h2v2.5h.2c.6-1.7,2-2.8,3.5-2.8s.4,0,.7,0v2.2c-.2,0-.5,0-.8,0-1.6,0-2.8,1.2-3.1,2.9,0,.3-.1.7-.1,1.1v6.7h-2.3v-8.7Z"/>
                                <path d="M756.9,452.1v15.2c0,1.1,0,2.4.1,3.2h-2.1v-2.2h-.2c-.7,1.4-2.2,2.5-4.3,2.5-3,0-5.4-2.6-5.4-6.4,0-4.2,2.6-6.8,5.6-6.8s3.2.9,3.8,1.9h0v-7.5h2.3ZM754.6,463.1c0-.3,0-.7-.1-1-.3-1.5-1.6-2.7-3.3-2.7s-3.8,2.1-3.8,4.9,1.2,4.7,3.7,4.7,2.9-1,3.4-2.7c0-.3.1-.6.1-1v-2.2Z"/>
                                <path d="M772.1,464.1c0,4.7-3.2,6.7-6.3,6.7s-6-2.5-6-6.5,2.8-6.7,6.2-6.7,6.1,2.6,6.1,6.5ZM762.1,464.3c0,2.8,1.6,4.8,3.8,4.8s3.8-2.1,3.8-4.9-1.1-4.8-3.8-4.8-3.9,2.5-3.9,4.9Z"/>
                                <path d="M774.9,470.5c0-.9.1-2.1.1-3.2v-15.2h2.3v7.9h0c.8-1.4,2.3-2.3,4.3-2.3,3.1,0,5.3,2.6,5.3,6.4,0,4.5-2.8,6.7-5.6,6.7s-3.3-.7-4.2-2.4h0v2.1h-2.1ZM777.2,465.5c0,.3,0,.6.1.8.4,1.6,1.8,2.7,3.4,2.7,2.4,0,3.8-2,3.8-4.8s-1.3-4.7-3.7-4.7-3,1.1-3.5,2.8c0,.3-.1.6-.1.9v2.3Z"/>
                                <path d="M791,464.7c0,3.1,2,4.4,4.3,4.4s2.6-.3,3.5-.7l.4,1.6c-.8.4-2.2.8-4.2.8-3.9,0-6.2-2.5-6.2-6.3s2.2-6.8,5.9-6.8,5.2,3.6,5.2,5.9,0,.8,0,1.1h-8.8ZM797.8,463c0-1.5-.6-3.7-3.2-3.7s-3.3,2.1-3.5,3.7h6.7Z"/>
                                <path d="M802.8,461.9c0-1.5,0-2.8-.1-3.9h2v2.5h.2c.6-1.7,1.9-2.8,3.5-2.8s.4,0,.7,0v2.2c-.2,0-.5,0-.8,0-1.6,0-2.8,1.2-3.1,2.9,0,.3-.1.7-.1,1.1v6.7h-2.3v-8.7Z"/>
                                <path d="M816.5,462.7v1.7h-6.4v-1.7h6.4Z"/>
                                <path d="M725.2,501.7v-10.8h-1.8v-1.7h1.8v-.5c0-1.7.6-3.3,1.8-4.3,1-.8,2.3-1.3,4-1.3s2.8.3,3.8.8v17.9h-2.3v-16.6c-.4-.2-1-.3-1.9-.3-2.4,0-3.2,1.7-3.2,3.8v.6h2.9v1.7h-2.9v10.8h-2.3Z"/>
                                <path d="M745.6,501.7l-.2-1.6h0c-.7,1-2.1,1.9-3.8,1.9-2.5,0-3.8-1.8-3.8-3.6,0-3,2.7-4.7,7.6-4.7v-.3c0-1-.3-2.9-2.9-2.9s-2.4.4-3.3.9l-.5-1.5c1-.7,2.5-1.1,4.1-1.1,3.8,0,4.8,2.6,4.8,5.1v4.7c0,1.1,0,2.2.2,3h-2.1ZM739.3,485.6c0-.7.6-1.3,1.3-1.3s1.3.6,1.3,1.3-.5,1.3-1.3,1.3-1.3-.6-1.3-1.3ZM745.2,495.3c-2.5,0-5.3.4-5.3,2.8s1,2.2,2.2,2.2,2.7-1,3-2.1c0-.2.1-.5.1-.7v-2.2ZM744.1,485.6c0-.7.6-1.3,1.3-1.3s1.3.6,1.3,1.3-.5,1.3-1.3,1.3-1.3-.6-1.3-1.3Z"/>
                                <path d="M760.1,501.3c-.6.3-1.9.7-3.6.7-3.8,0-6.3-2.6-6.3-6.4s2.7-6.7,6.8-6.7,2.5.3,3.2.7l-.5,1.8c-.5-.3-1.4-.6-2.7-.6-2.9,0-4.4,2.1-4.4,4.8s1.9,4.7,4.4,4.7,2.2-.3,2.8-.6l.4,1.7Z"/>
                                <path d="M762.8,483.3h2.3v7.9h0c.4-.7.9-1.2,1.6-1.6.7-.4,1.5-.6,2.3-.6,1.7,0,4.4,1,4.4,5.4v7.5h-2.3v-7.2c0-2-.8-3.7-2.9-3.7s-2.7,1-3.1,2.3c-.1.3-.2.7-.2,1.1v7.6h-2.3v-18.5Z"/>
                                <path d="M778.5,495.9c0,3.1,2,4.4,4.3,4.4s2.6-.3,3.5-.7l.4,1.6c-.8.4-2.2.8-4.2.8-3.9,0-6.2-2.5-6.2-6.3s2.2-6.8,5.9-6.8,5.2,3.6,5.2,5.9,0,.8,0,1.1h-8.8ZM785.2,494.2c0-1.5-.6-3.7-3.2-3.7s-3.3,2.1-3.5,3.7h6.7Z"/>
                                </g>
                                <g>
                                <path d="M737.7,262.7h-5.3v-1.9h13v1.9h-5.4v15.6h-2.3v-15.6Z"/>
                                <path d="M746,269.6c0-1.5,0-2.8-.1-3.9h2v2.5h.2c.6-1.7,1.9-2.8,3.5-2.8s.4,0,.7,0v2.2c-.2,0-.5,0-.8,0-1.6,0-2.8,1.2-3.1,2.9,0,.3-.1.7-.1,1.1v6.7h-2.3v-8.7Z"/>
                                <path d="M761.3,278.3l-.2-1.6h0c-.7,1-2.1,1.9-3.8,1.9-2.5,0-3.8-1.8-3.8-3.6,0-3,2.7-4.7,7.6-4.7v-.3c0-1-.3-2.9-2.9-2.9s-2.4.4-3.3.9l-.5-1.5c1-.7,2.5-1.1,4.1-1.1,3.8,0,4.8,2.6,4.8,5.1v4.7c0,1.1,0,2.2.2,3h-2.1ZM761,271.8c-2.5,0-5.3.4-5.3,2.8s1,2.2,2.2,2.2,2.7-1,3-2.1c0-.2.1-.5.1-.7v-2.2Z"/>
                                <path d="M777.4,274.8c0,1.3,0,2.4.1,3.4h-2v-2.1h-.2c-.6,1-1.9,2.3-4.2,2.3s-4.3-1.1-4.3-5.5v-7.4h2.3v7c0,2.4.7,4,2.8,4s2.6-1.1,3-2.1c.1-.3.2-.8.2-1.2v-7.7h2.3v9.2Z"/>
                                <path d="M781.5,278.3v-10.8h-1.8v-1.7h1.8v-.6c0-1.8.4-3.4,1.5-4.4.9-.8,2-1.2,3.1-1.2s1.5.2,2,.4l-.3,1.8c-.3-.2-.8-.3-1.5-.3-2,0-2.4,1.7-2.4,3.6v.7h3v1.7h-3v10.8h-2.3Z"/>
                                <path d="M789.8,272.4c0,3.1,2,4.4,4.3,4.4s2.6-.3,3.5-.7l.4,1.6c-.8.4-2.2.8-4.2.8-3.9,0-6.2-2.5-6.2-6.3s2.2-6.8,5.9-6.8,5.2,3.6,5.2,5.9,0,.8,0,1.1h-8.8ZM796.5,270.8c0-1.5-.6-3.7-3.2-3.7s-3.3,2.1-3.5,3.7h6.7Z"/>
                                </g>
                            </g>
                            <line x1="656.2" y1="474.1" x2="714" y2="474.1" style="fill: #1d1d1b; stroke: #1d1d1b; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px;"/>
                            <line x1="656.2" y1="271" x2="714" y2="271" style="fill: #1d1d1b; stroke: #1d1d1b; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px;"/>
                        </g>
                    </svg>


                </div>
            </div>

                
                <!-- <div class="house-chart">

                    <svg id="house" class="house-interactive" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 786.63 828.81" alt="Darstellung eines Hauses als Referenz für die Hausstruktur">
                        <g id="Dach">
                            <line x1="393.32" y1="34.03" x2="15" y2="307.64" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 30px;"/>
                            <line x1="393.32" y1="34.03" x2="771.63" y2="307.64" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 30px;"/>
                        </g>
                        <g id="Schornstein">
                            <line x1="215.94" y1="114.95" x2="215.14" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                            <line x1="274.56" y1="68.61" x2="273.81" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                            <line x1="273.81" y1="10" x2="215.94" y2="10.81" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 20px;"/>
                        </g>
                        <g id="Stockwerke">
                            <g id="KG">
                            <rect id="pane-KG" x="103.23" y="671.06" width="577.7" height="143.75" [attr.fill]="highlightedFloor === 'KG' ? '#f5f5dc' : 'none'"/>
                            </g>
                            <g id="EG">
                            <rect id="pane-EG" x="104.46" y="512.99" width="577.7" height="157.75" [attr.fill]="highlightedFloor === 'EG' ? '#d0e7f9' : 'none'"/>
                            <path id="tuer" d="M355.33,664.78c.36-33.52-.52-67.47.36-101.02,25.09,0,50.62,0,75.56.2-.03.14.01.27-.04.4-.02-.18,0-.24.04-.4.15,33.34.15,66.89-.07,100.28" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 15px;"/>
                            </g>
                            <g id="OG">
                            <rect id="pane-OG" x="104.77" y="355.24" width="577.7" height="157.75" [attr.fill]="highlightedFloor === 'OG' ? '#fce9d7' : 'none'"/> 
                            <g>
                                <path id="fenster" d="M266.82,460.76c.13-17.8.13-35.69.04-53.47-.02.08-.04.12-.03.21.03-.07,0-.14.03-.21-15.28-.11-30.92-.11-46.29-.11-.54,17.88,0,35.99-.22,53.86l46.47-.29Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                                <path id="fenster1" data-name="fenster" d="M566.2,460.76c.13-17.8.13-35.69.04-53.47-.02.08-.04.12-.03.21.03-.07,0-.14.03-.21-15.28-.11-30.92-.11-46.29-.11-.54,17.88,0,35.99-.22,53.86l46.47-.29Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                            </g>
                            </g>
                            <g id="DG">
                            <polygon id="pane-DG" points="682.47 299.31 682.47 355.24 104.79 355.24 104.79 299.31 392.3 89.95 682.47 299.31" [attr.fill]="highlightedFloor === 'DG' ? '#d9f0e1' : 'none'"/>
                            <g>
                                <path id="dachfenster" d="M349.56,290.33c.1-26.26.1-52.65.03-78.87-.02.12-.03.18-.02.32.03-.1,0-.21.02-.32-12-.16-24.29-.16-36.36-.16-.42,26.38,0,53.09-.17,79.45l36.5-.42Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                                <path id="dachfenster1" data-name="dachfenster" d="M473.51,290.33c.1-26.26.1-52.65.03-78.87-.02.12-.03.18-.02.32.03-.1,0-.21.02-.32-12-.16-24.29-.16-36.36-.16-.42,26.38,0,53.09-.17,79.45l36.5-.42Z" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px;"/>
                            </g>
                            </g>
                            <line id="floor3" x1="112.71" y1="355.06" x2="679.1" y2="355.06" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <line id="floor2" x1="110.55" y1="512.99" x2="676.94" y2="512.99" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                            <line id="floor1" x1="112.71" y1="670.91" x2="679.1" y2="670.91" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 22px;"/>
                        </g>
                        <path id="Fassade" d="M104.79,299.31L392.3,89.95l290.17,209.36v55.75s0,157.92,0,157.92v157.92s0,143.9,0,143.9H104.16l.18-143.9.19-157.92.19-157.92.07-55.75" style="fill: none; stroke: #455a64; stroke-linecap: round; stroke-linejoin: round; stroke-width: 28px;"/>
                    </svg> 
                </div>
            </div>-->

            <div *ngIf="structureIsAvailable && hasStructureChanged()" class="structure-change-confirmation" style="margin-top: 16px;">
                <mat-card class="warning-box">
                    <div class="toggle-wrapper">
                        <span><strong>Achtung:</strong> Die Gebäudestruktur wurde verändert! Diese Änderung entfernt alle bestehenden Gebäudedaten. <br/> Bitte bestätigen Sie die Korrektheit der Gebäudestruktur.</span>
                        <mat-slide-toggle [(ngModel)]="confirmStructureChange" [color]="'primary'" class="confirm-toggle">
                            Strukturänderung bestätigen
                        </mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="actions">
        <button mat-button (click)="close()">Abbruch</button>
        <button 
            mat-button 
            color="primary" 
            (click)="confirmAddBuilding()"  
            [disabled]="!isFormValid() || (structureIsAvailable && hasStructureChanged() && !confirmStructureChange)"
        >
            Hinzufügen
        </button>
    </div>
</div>

