<main>
    <!-- <div class="user-data-container" [hidden]="isStructureViewVisible"> -->
    <div class="user-data-container">
      <div id="user-data">

        <header class="user-data-header">
            <img 
            src="assets/images/house_icon_primary.svg" 
            alt="House Icon" 
            class="house-icon" 
            />
            <h1>Meine Gebäude</h1>
        </header>
        
        <mat-divider class="horizontal-divider"/>

        <div *ngIf="isLoading" class="spinner-container">
          <mat-spinner [diameter]="100" [strokeWidth]="6" class="loading-spinner" />
        </div>

        <div class="user-data-content"> 
          <div class="list-container">

            <!-- <mat-spinner *ngIf="isLoading" [diameter]="48" [strokeWidth]="3" class="loading-spinner" /> -->

            <mat-list *ngIf="!isLoading && buildings.length > 0; else noBuildings">
                <mat-list-item *ngFor="let buildingId of buildings">
                  <span class="list-text">Gebäude {{ buildingId }}</span>
                </mat-list-item>
            </mat-list>
            <ng-template #noBuildings>
              <p *ngIf="!isLoading" class="no-data">Keine Gebäude gespeichert</p>
            </ng-template>
          </div>
        </div>

      </div>
    
      <!-- <app-analysis-sidepanel 
          *ngIf="selectedBuilding" 
          [building]="selectedBuilding"
          (closePanel)="deselectBuilding()"
          (openStructureView)="showStructureView()"
          class="building-analyses" /> --> 
    </div>
  
    <!-- <app-structure-view
      *ngIf="isStructureViewVisible" 
      [entity]="selectedBuilding"
      (closeStructureView)="hideStructureView()" />
   -->
  </main>