@use '@angular/material' as mat;
@use '../../../theme-setup' as vars;


:host {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.menu-icon {
  color: mat.get-color-from-palette(vars.$my-secondary, 700);
  
  &:hover {
    color: mat.get-color-from-palette(vars.$my-secondary, 800);
  }
}

.menu-button {

  mat-icon {
    color: mat.get-color-from-palette(vars.$my-secondary, 700);
  }

  &:hover {
    mat-icon {
      color: mat.get-color-from-palette(vars.$my-secondary, 800);
    }
  }
  
}
  
.user-data-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    gap: 1.2rem;
    height: 100%;
    overflow-y: auto;
}
  
#user-data {
    flex: 1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #455a64;
    border-radius: 12px;
    width: 100%;
    min-width: 350px;
    height: 100%;
    min-height: 420px;
    transition: all 0.4s ease-in-out;
    padding: 16px;

    display: flex;
    flex-direction: column;  
    overflow: hidden;        
    box-sizing: border-box;
}

.user-data-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 1;


    h1 {
        margin: 10px 0 8px;
        font-size: 2.2rem;
        color: #455a64;
    }

    img {
        width: 42px;
        height: 42px;
        margin-right: 16px;
    }
}

.user-data-content {

  padding: 36px;
  flex: 1; 
  overflow-y: auto;  
  min-height: 0;     
  width: 100%;      
  box-sizing: border-box;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .building-card {
    display: flex;
    flex-direction: column;
    padding: 4px 12px 12px;
    width: 100%;
    max-width: 420px;
    border: 2px solid #455a64;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .building-card.selected {
    // background-color: #f5f5f5;
    border: 2px solid #179bde;
    transition: all 0.2s ease-in-out;
  }

  .building-card:not(.selected):hover {
    // filter: brightness(95%);
    background-color: #f0f0f0;

  }

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    line-height: 1;
    // margin-bottom: 2px;
  }

  .card-header-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    

    h2 {
      margin: auto 0 0;
      font-size: 1.4rem;
      color: #455a64;
      padding-block: 5px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 14px;
    }
  }


  // .card-header h2 {
  //   margin: 0;
  //   font-size: 1.5rem;
  //   color: #455a64;
  // }

  .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    gap: 14px;
  }

  // .house-image-container {
  //   width: 64px;
  //   height: 64px;
  //   border-radius: 50%;
  //   border: 2px solid #455a64;

  // }

  // .house-image {
  //   width: 48px;
  //   height: 48px;
  //   object-fit: cover;
  // }

  // .vertical-divider {
  //   height: 100%;
  // }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: start;

    p {
      margin: 6px;
    }

  }
}

//   .list-container {
//     max-width: 800px;
//   }

//   mat-list-item {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     padding: 8px 12px;
//     transition: all 0.2s ease-in-out;
//     border-bottom: 1px solid rgb(255, 255, 255);
//     background: #179bde;

//     &.selected {
//       background: #107bbc;
//     }

//     &:hover {
//         filter: brightness(90%);
//     }
  
//     .list-content {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//         width: 100%;
//       }
  
//     .list-icon {
//         margin-right: 12px;
//         padding-top: 2px;
//     }
  
//     .list-text {
//         margin: auto;
//         font-size: 18px;
//         vertical-align: text-bottom;
//         display: inline-block;
//         max-width: 75%;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         color: white;
//     }
  
//   }

// }


// mat-list-item:first-child {
//   border-top-left-radius: 8px;
//   border-top-right-radius: 8px;
// }

// mat-list-item:last-child {
//   border-bottom-left-radius: 8px;
//   border-bottom-right-radius: 8px;
//   border-bottom: none;
// }


// .mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
//   cursor: pointer;
// }

// .mat-list {
//   border-radius: 8px;
//   overflow: hidden;
// }


.building-info {
  width: 360px;
  min-width: 350px;
  transition: all 0.4s ease-in-out;
  border-radius: 12px;
  border: 2px solid #455a64;
  overflow: hidden; // Prevent overflow issues
  overflow-x: hidden;

  contain: strict;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.no-data {
    color: gray;
}

/* Responsive behavior for mobile devices*/
@media (max-width: 800px) {

  .user-data-content {
    padding: 12px 0 8px 0;
  }

  .user-data-container {
    flex-direction: column;
      gap: 1rem;
  }
  
  .list-container {
      max-width: 100%;
  }

  .building-info {
    width: 100%;
    max-width: 100%;
    min-width: unset;
    height: auto;
    overflow: visible;
    contain: content;
  }
}

[hidden] {
  display: none !important;
}