<main>
    <div class="user-data-container" [hidden]="isStructureViewVisible">
      <div id="user-data">

        <header class="user-data-header">
            <!-- <img 
            src="assets/images/house_icon_primary.svg" 
            alt="House Icon" 
            class="house-icon" 
            /> -->
            <h1>Gebäudeliste</h1>
        </header>
        
        <mat-divider class="horizontal-divider"/>

        <div *ngIf="isLoading" class="spinner-container">
          <mat-spinner [diameter]="100" [strokeWidth]="6" class="loading-spinner" />
        </div>
        
        <div class="user-data-content">
          <div class="card-container" *ngIf="!isLoading && buildings.length > 0; else noBuildings">
            
            <mat-card class="building-card" *ngFor="let building of buildings" (click)="selectBuilding(building)" [class.selected]="isSelected(building)">
              
              <div class="card-header">
                <div class="card-header-text">
                  <img 
                    src="assets/images/house_icon_primary.svg" 
                    alt="House Icon" 
                    class="house-icon"
                    loading="eager"
                    />
                  <h2>{{ building.name?.trim() || 'Gebäude ' + building.bw_geb_id }}</h2>
                </div>
                <button *ngIf="isSelected(building)" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editBuilding(building); $event.stopPropagation()"> <mat-icon>edit</mat-icon> Gebäude bearbeiten</button>
                  <button mat-menu-item (click)="deleteBuilding(building.bw_geb_id); $event.stopPropagation()"> <mat-icon>delete</mat-icon> Gebäude entfernen</button>
                </mat-menu>
              </div>

              <mat-divider></mat-divider>

              <div class="card-info">
                <div class="info-text">
                  <p>Gebäude ID: {{ building.bw_geb_id }}</p>
                  <p *ngIf="building.name">Name: {{ building.name }}</p>
                  <p *ngIf="building.address">Adresse: {{ building.address }}</p>
                </div>
              </div>

            </mat-card>
            
          </div>

          <ng-template #noBuildings>
            <p *ngIf="!isLoading" class="no-data">Keine Gebäude gespeichert</p>
          </ng-template>
        </div>

        
        <!-- <div class="user-data-content"> 
          <div class="list-container">

            <mat-list *ngIf="!isLoading && buildings.length > 0; else noBuildings">
                <mat-list-item *ngFor="let building of buildings"
                  (click)="selectBuilding(building)"
                  [class.selected]="isSelected(building)">
                  <span class="list-text" *ngIf="building.name?.trim(); else fallback">
                    {{ building.name }} (Gebäude {{ building.bw_geb_id }})
                  </span>
                  <ng-template #fallback>
                    <span class="list-text">Gebäude {{ building.bw_geb_id }}</span>
                  </ng-template>
                  
                  <button *ngIf="isSelected(building)"
                    mat-icon-button 
                    color="warn" 
                    (click)="deleteBuilding(building.bw_geb_id); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                  </button>                  

                </mat-list-item>
            </mat-list>
            <ng-template #noBuildings>
              <p *ngIf="!isLoading" class="no-data">Keine Gebäude gespeichert</p>
            </ng-template>
          </div>
        </div> -->

      </div>

      <app-building-sidepanel 
        *ngIf="selectedBuilding" 
        [building]="selectedBuilding"
        (closePanel)="deselectBuilding()"
        (openStructureView)="showStructureView()"
        class="building-info" />
    </div>
    
    <app-structure-view
      *ngIf="isStructureViewVisible" 
      [entity]="selectedBuilding"
      (closeStructureView)="hideStructureView()" />
  
  </main>