@use '@angular/material' as mat;
@use '../../../theme-setup' as vars;


:host {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.menu-icon {
  color: mat.get-color-from-palette(vars.$my-secondary, 700);
  
  &:hover {
    color: mat.get-color-from-palette(vars.$my-secondary, 800);
  }
}

.menu-button {

  mat-icon {
    color: mat.get-color-from-palette(vars.$my-secondary, 700);
  }

  &:hover {
    mat-icon {
      color: mat.get-color-from-palette(vars.$my-secondary, 800);
    }
  }
  
}
  
.user-data-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    gap: 1.2rem;
    height: 100%;
    overflow-y: auto;
}
  
#user-data {
    flex: 1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid mat.get-color-from-palette(vars.$my-secondary, 700);
    border-radius: 12px;
    width: 100%;
    min-width: 350px;
    height: 100%;
    min-height: 420px;
    transition: all 0.4s ease-in-out;
    padding: 16px;

    display: flex;
    flex-direction: column;  
    overflow: hidden;        
    box-sizing: border-box;
}

.user-data-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 1;


    h1 {
        margin: 10px 0 8px;
        font-size: 2.2rem;
        color: mat.get-color-from-palette(vars.$my-secondary, 700);
    }

    img {
        width: 42px;
        height: 42px;
        margin-right: 16px;
    }
}

.user-data-content {

  padding: 36px;
  flex: 1; 
  overflow-y: auto;  
  min-height: 0;     
  width: 100%;      
  box-sizing: border-box;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .building-card {
    display: flex;
    flex-direction: column;
    padding: 4px 12px 12px;
    width: 100%;
    max-width: 420px;
    border: 2px solid mat.get-color-from-palette(vars.$my-secondary, 700);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .building-card.selected {
    border: 2px solid #179bde;
    transition: all 0.2s ease-in-out;
  }

  .building-card:not(.selected):hover {
    background-color: #f0f0f0;

  }

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    line-height: 1;

    width: 100%;
  }

  .card-header-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex: 1;
    min-width: 0;
    
    h2 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;

      font-size: 1.4rem;
      color: mat.get-color-from-palette(vars.$my-secondary, 700);
      padding-block: 5px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 14px;

      flex-shrink: 0;
    }
  }

  .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    gap: 14px;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: start;

    p {
      margin: 6px;
    }

  }
}

.building-info {
  width: 360px;
  min-width: 350px;
  transition: all 0.4s ease-in-out;
  border-radius: 12px;
  border: 2px solid mat.get-color-from-palette(vars.$my-secondary, 700);
  overflow: hidden;
  overflow-x: hidden;

  contain: strict;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.no-data {
    color: gray;
}

@media (max-width: 800px) {

  .user-data-content {
    padding: 12px 0 8px 0;
  }

  .user-data-container {
    flex-direction: column;
      gap: 1rem;
  }
  
  .list-container {
      max-width: 100%;
  }

  .building-info {
    width: 100%;
    max-width: 100%;
    min-width: unset;
    height: auto;
    overflow: visible;
    contain: content;
  }
}

[hidden] {
  display: none !important;
}