:host {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}
  
.user-data-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    gap: 1.2rem;
    height: 100%;
    overflow-y: auto;
}
  
#user-data {
    flex: 1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #455a64;
    border-radius: 12px;
    width: 100%;
    min-width: 350px;
    height: 100%;
    min-height: 420px;
    transition: all 0.4s ease-in-out;
    padding: 16px;
}

.user-data-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 1;


    h1 {
        margin: 10px 0 8px;
        font-size: 2.2rem;
        color: #455a64;
    }

    img {
        width: 42px;
        height: 42px;
        margin-right: 16px;
    }
}

.user-data-content {

  padding: 36px;

  .list-container {
    max-width: 800px;
  }

  mat-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: #179bde;

    &.selected {
      background: #107bbc;
    }

    &:hover {
        filter: brightness(90%);
    }
  
    .list-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
  
    .list-icon {
        margin-right: 12px;
        padding-top: 2px;
    }
  
    .list-text {
        margin: auto;
        font-size: 18px;
        vertical-align: text-bottom;
        display: inline-block;
        max-width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }
  
  }

}


mat-list-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

mat-list-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}


.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
  cursor: pointer;
}

.mat-list {
  border-radius: 8px;
  overflow: hidden;
}

.building-info {
  width: 360px;
  min-width: 350px;
  transition: all 0.4s ease-in-out;
  border-radius: 12px;
  border: 2px solid #455a64;
  overflow: hidden; // Prevent overflow issues
  overflow-x: hidden;

  contain: strict;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.no-data {
    color: gray;
}

/* Responsive behavior for mobile devices*/
@media (max-width: 800px) {

  .user-data-content {
    padding: 12px 0 8px 0;
  }

  .user-data-container {
    flex-direction: column;
      gap: 1rem;
  }
  
  .list-container {
      max-width: 100%;
  }

  .building-info {
    width: 100%;
    max-width: 100%;
    min-width: unset;
    height: auto;
    overflow: visible;
    contain: content;
  }
}

[hidden] {
  display: none !important;
}