<div class="list-container">
    <mat-spinner *ngIf="isLoading" [diameter]="40" [strokeWidth]="3" class="loading-spinner" />

    <mat-list *ngIf="!isLoading && documents.length > 0; else noDocsMessage">
        <mat-list-item
            *ngFor="let doc of documents"
            [class.private-element]="!doc.canRead"
            [matTooltip]="(!doc.canRead) ? doc.name + ' ist nicht öffentlich.' : ''"
            matTooltipShowDelay="300"
            (click)="onDocumentClick(doc)"
        >
            <mat-icon class="list-icon">{{ getDocumentIcon(doc) }}</mat-icon>
            <span class="list-text">
              {{ doc.name }}<ng-container *ngIf="doc.fileType">.{{ doc.fileType }}</ng-container>
            </span>
            <ng-container *ngIf="isPointCloud(doc) && doc.canRead">
              <button mat-icon-button
                      *ngIf="p2iStatus(doc) === '' || p2iStatus(doc) === 'error'"
                      [matTooltip]="p2iStatus(doc) === 'error' ? (p2iError(doc) || 'Fehlgeschlagen') + ' – erneut versuchen' : 'Reduziertes IFC aus Punktwolke erzeugen'"
                      (click)="startReducedIfc(doc, $event)">
                <mat-icon>architecture</mat-icon>
              </button>
              <mat-spinner *ngIf="p2iStatus(doc) === 'running' || p2iStatus(doc) === 'queued'" [diameter]="20" [strokeWidth]="2"
                           matTooltip="Point2IFC läuft…"></mat-spinner>
              <button mat-icon-button
                      *ngIf="p2iStatus(doc) === 'done'"
                      [matTooltip]="'Reduziertes IFC herunterladen (' + p2iSummary(doc) + ')'"
                      (click)="downloadReducedIfc(doc, $event)">
                <mat-icon>download</mat-icon>
              </button>
            </ng-container>
            <mat-icon *ngIf="!doc.canRead" class="lock-icon">lock</mat-icon>
        </mat-list-item>
    </mat-list>
    <ng-template #noDocsMessage>
        <p *ngIf="!isLoading" class="no-docs">Keine Dokumente vorhanden</p>
    </ng-template>
</div>
