@use '@angular/material' as mat;
@use '../../../theme-setup' as vars;

.menu-container {
  display: flex;
  height: 100vh;
}

.sidenav {
  width: 80px;
  background-color: #ececec;
  border-radius: 12px;
  margin: 2rem;
  padding: 1rem 0;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-toolbar {
  background-color: #ececec;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.router-outlet-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 2rem;
  height: 100%;
}

.logo-section {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid mat.get-color-from-palette(vars.$my-secondary, 700);
  background-color: mat.get-color-from-palette(vars.$my-secondary, 700);
  margin: auto;
  margin-bottom: 12px;

  .logo {
    width: 38px;
    height: 38px;
    transform: translateY(2px);
  }
    
}

.logo-section-mobile {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid mat.get-color-from-palette(vars.$my-secondary, 700);
  background-color: mat.get-color-from-palette(vars.$my-secondary, 700);
  margin: auto;
  margin-right: 0;
  margin-left: 1rem;

  .logo {
    width: 24px;
    height: 24px;
    transform: translateY(1px);
  }
}

.name-section {
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  font-family: "manometer-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  user-select: none;

  p {
    margin: 0 auto;
    color: transparent;
    -webkit-text-stroke: 2px mat.get-color-from-palette(vars.$my-secondary, 700);
    height: 42px;
  }

  p:first-of-type {
    margin: 6px auto;
  }

  
}

.name-section-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "manometer-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 3px;
  margin: auto;
  margin-left: 12px;

  span {
    margin: 0 auto;
    color: transparent;
    -webkit-text-stroke: 2px mat.get-color-from-palette(vars.$my-secondary, 700);
  }

  span:first-of-type {
    margin: auto 6px;
  }
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

button[mat-icon-button] {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background: none;
  transition: all 0.3s ease-in-out;
  
  mat-icon {
    color: mat.get-color-from-palette(vars.$my-secondary, 700);
    transform: translateY(2px);
  }

  &:hover {
    // background: rgba(0, 0, 0, 0.05);
    mat-icon {
      color: mat.get-color-from-palette(vars.$my-secondary, 800);
    }
  }
}

button[mat-icon-button].active {
  background-color: mat.get-color-from-palette(vars.$my-secondary, 700);
  transition: all 0.4s ease-in-out;
  mat-icon {
    color: #ececec;
  }
}

button[mat-icon-button].disabled-state {
  opacity: 0.55;       
  cursor: not-allowed; 
}

.mat-mdc-focus-indicator {
  height: 48px;
  width: 48px;
}

.bottom-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-divider {
  width: 60%;
  margin: 2rem auto 6px;
}

.profile-button {
  width: 52px;
  height: 52px;
  border-radius: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  span {
    font-size: large;
    padding-left: 4px;
  }

}


/* Mobile adjustments */
@media (max-width: 1199px) {
  .router-outlet-container {
    margin-left: 0;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .router-outlet-container {
    padding: 8px;
  }
}