<mat-sidenav-container class="menu-container">
  <mat-sidenav *ngIf="!isMobile" mode="side" opened class="sidenav">
    
    <!-- Logo Section -->
    <div class="logo-section">
      <img src="assets/images/mhub_logo_grey.svg" alt="Project logo" class="logo" />
    </div>

    <div class="name-section">
      <p>M</p>
      <p>H</p>
      <p>U</p>
      <p>B</p>
    </div>

    <!-- Navigation Buttons -->
    <div class="nav-buttons">
      <button mat-icon-button matTooltip="Karte" matTooltipPosition="after" matTooltipShowDelay="500" (click)="onMenuClick('map')" [ngClass]="{'active': currentRoute.includes('/map')}">
        <mat-icon>map</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Hub" matTooltipPosition="after" matTooltipShowDelay="500" (click)="onMenuClick('hub')" [ngClass]="{'active': currentRoute.includes('/hub')}">
        <mat-icon>hub</mat-icon>
      </button>
      <button 
        mat-icon-button 
        [disableRipple]="!(user$ | async)"
        [matTooltip]="(user$ | async) ? 'Gebäudeliste' : 'Gebäudeliste: \nAnmeldung erforderlich'"
        matTooltipClass="multiline-tooltip"
        matTooltipPosition="after" 
        matTooltipShowDelay="500" 
        (click)="onMenuClick('data')" 
        [ngClass]="{
          'active': currentRoute.includes('/data'), 
          'disabled-state': !(user$ | async)
        }">
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>

    <div class="bottom-section">
      <mat-divider />

      <ng-container *ngIf="user$ | async as user; else loginButton">
    
        <button 
          mat-icon-button 
          matTooltip="Abmelden" 
          matTooltipPosition="after" 
          disableRipple 
          class="logout-button" 
          (click)="onLogoutClick()">
          <mat-icon color="warn">logout</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Profil anzeigen" matTooltipPosition="after" disableRipple class="profile-button" (click)="onProfileClick(user)">
          <mat-icon>account_circle</mat-icon>
        </button>

      </ng-container>

      <ng-template #loginButton>
        <button 
          mat-icon-button 
          matTooltip="Anmelden"  
          matTooltipPosition="after" 
          disableRipple 
          class="login-button" 
          (click)="onLoginClick()">
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main-content">

    <mat-menu #menu="matMenu">
      <div class="menu-item" (click)="onMenuClick('map')">
        <button mat-menu-item disableRipple >
          <mat-icon>map</mat-icon> 
        </button>
        <span>Karte</span>
      </div>

      <div class="menu-item" (click)="onMenuClick('hub')">
        <button mat-menu-item disableRipple >
          <mat-icon>hub</mat-icon> 
        </button>
        <span>Hub</span>
      </div>

      <ng-container *ngIf="{ user: user$ | async } as auth">
        <div class="menu-item"
            [class.disabled-state]="!auth.user"
            (click)="auth.user ? onMenuClick('data') : onDisabledDataClick()">
            
          <button mat-menu-item disableRipple>
            <mat-icon>grid_view</mat-icon> 
          </button>
          <span>Daten</span>
        </div>
      </ng-container>

      <div class="menu-item" *ngIf="user$ | async as user" (click)="onProfileClick(user)">
        <button mat-menu-item disableRipple >
          <mat-icon>account_circle</mat-icon>
        </button>
        <span>Profil</span>
      </div>
    </mat-menu>

    <mat-toolbar *ngIf="isMobile" class="mobile-toolbar">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <div class="logo-section-mobile">
        <img src="assets/images/mhub_logo_grey.svg" alt="Project logo" class="logo" />
      </div>
      <div class="name-section-mobile">
        <span>M</span>
        <span>HUB</span>
      </div>

      <ng-container *ngIf="user$ | async as user; else loginButton">
    
        <button 
          mat-icon-button 
          matTooltip="Abmelden" 
          matTooltipPosition="after" 
          disableRipple 
          class="logout-button" 
          (click)="onLogoutClick()">
          <mat-icon color="warn">logout</mat-icon>
        </button>

      </ng-container>

      <ng-template #loginButton>
        <button 
          mat-icon-button 
          matTooltip="Anmelden"  
          matTooltipPosition="after" 
          disableRipple 
          class="login-button" 
          (click)="onLoginClick()">
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>

    </mat-toolbar>

    <div class="router-outlet-container">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>