<mat-sidenav-container class="menu-container">
  <mat-sidenav *ngIf="!isMobile" mode="side" opened class="sidenav">
    
    <!-- Logo Section -->
    <div class="logo-section">
      <img src="assets/images/mhub_logo_grey.svg" alt="Project logo" class="logo" />
    </div>

    <div class="name-section">
      <p>M</p>
      <p>H</p>
      <p>U</p>
      <p>B</p>
    </div>

    <!-- Navigation Buttons -->
    <div class="nav-buttons">
      <button mat-icon-button matTooltip="Karte" matTooltipPosition="after" (click)="onMenuClick('map')" [ngClass]="{'active': currentRoute.includes('/map')}">
        <mat-icon>map</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Hub" matTooltipPosition="after" (click)="onMenuClick('hub')" [ngClass]="{'active': currentRoute.includes('/hub')}">
        <mat-icon>hub</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Gebäudeliste" matTooltipPosition="after" (click)="onMenuClick('data')" [ngClass]="{'active': currentRoute.includes('/data')}">
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>


    <div class="bottom-section">
      <mat-divider />
      
      <button mat-icon-button matTooltip="Profil" matTooltipPosition="after" disableRipple class="profile-button" (click)="onProfileClick()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main-content">

    <mat-menu #menu="matMenu">
      <div class="menu-item" (click)="onMenuClick('map')">
        <button mat-menu-item>
          <mat-icon>map</mat-icon> 
        </button>
        <span>Karte</span>
      </div>

      <div class="menu-item" (click)="onMenuClick('hub')">
        <button mat-menu-item>
          <mat-icon>hub</mat-icon> 
        </button>
        <span>Hub</span>
      </div>

      <div  class="menu-item" (click)="onMenuClick('data')">
        <button mat-menu-item>
          <mat-icon>grid_view</mat-icon> 
        </button>
        <span>Daten</span>
      </div>
    </mat-menu>

    <mat-toolbar *ngIf="isMobile" class="mobile-toolbar">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <div class="logo-section-mobile">
        <img src="assets/images/mhub_logo_grey.svg" alt="Project logo" class="logo" />
      </div>
      <div class="name-section-mobile">
        <span>M</span>
        <span>HUB</span>
      </div>
    </mat-toolbar>

    <div class="router-outlet-container">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>