:host {
    height: 100%;
    width: 100%;
}

mat-tree {
    background: inherit;
}

mat-tree-node span {
    cursor: pointer;
}

.structure-tree-node span {
    cursor: pointer;

    font-size: 17px;

    &:hover {
        text-decoration: underline;
        color: rgb(60, 60, 60);
    }

}

.building-text {
    font-weight: 500;
    font-size: 18px !important;
}

img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.structure-tree ul,
.structure-tree li {
    margin: 0;
    list-style-type: none;
}
  
.structure-tree .mat-nested-tree-node div[role=group] {
    padding-left: 12px;
}
