:host {
    height: 100%;
    width: 100%;
}

mat-tree {
    background: inherit;
}

mat-tree-node span {
    cursor: pointer;
}

.structure-tree-node span {
    cursor: pointer;

    font-size: 17px;

    &:hover {
        text-decoration: underline;
        color: rgb(60, 60, 60);
    }
}

mat-tree-node.private-element span,
mat-tree-node.private-element .structure-tree-node span {
  cursor: default !important;
  text-decoration: none !important;
  color: inherit !important;
}

mat-tree-node.private-element span:hover,
mat-tree-node.private-element .structure-tree-node span:hover {
  cursor: default !important;
  text-decoration: none !important;
  color: inherit !important;
}

.building-text {
    font-weight: 500;
    font-size: 18px !important;
}

img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.lock-icon {
  font-size: 20px;
  margin-left: 4px;
}

.structure-tree ul,
.structure-tree li {
    margin: 0;
    list-style-type: none;
}