<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="structure-tree">

  <!-- Root node: Building -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="structure-tree-node">
    <div class="mat-tree-node clickable">
      <img src="assets/images/house_icon_black.svg" alt="House Icon" class="house-icon" />
      <span class="building-text" (click)="onNodeClick(node)">
        {{ node.name }}
      </span>
    </div>
    <div role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>

  <!-- Leaf nodes: Components -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <span (click)="onNodeClick(node)">{{ node.name }}</span>
  </mat-tree-node>

</mat-tree>
