<div class="building-info-panel">
    <header class="building-info-header">
        <h2 class="building-info-title">Gebäudeinfo</h2>
        <button mat-icon-button class="close-button" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </header>

    <mat-divider />

    <div class="building-info-data">
        <h3>Gebäude ID: {{ building?.bw_geb_id }}</h3>
        <p>Nutzung: {{ usageLabel }}</p>
        <p>Bauperiode: {{ periodLabel }}</p>
        <p>Maximale Höhe: {{ building?.maxhoehe}} m</p>
        <p [innerHTML]="'Volumen: ' + (building?.m3vol ?? 'Keine Information') + ' m&sup3;'"></p>    
        <p [innerHTML]="'Fläche: ' + (building?.m2flaeche ?? 'Keine Information') + ' m&sup2;'"></p>
        <p [innerHTML]="'Bruttogeschoßfläche: ' + (building?. m2bgf ?? 'Keine Information') + ' m&sup2;'"></p>
    </div>


    <echarts [options]="usagePieChartOptions" class="chart-container"></echarts>

    <echarts [options]="materialsPieChartOptions" class="chart-container materials-chart-container"></echarts>

    <mat-divider />

    <div class="list-container">
        <h3>Bauelemente</h3>   
        <mat-list>
            <mat-list-item *ngFor="let part of buildingParts">
                <!-- <mat-icon *ngIf="part.type === 'document'">insert_drive_file</mat-icon>
                <mat-icon *ngIf="part.type === 'building_part'">category</mat-icon> -->   
                <!-- construction, inventory, house, polyline  -->

                <!-- <mat-icon class="list-icon" matListIcon> -->
                <mat-icon class="list-icon">
                    {{ part.type === 'document' ? 'insert_drive_file' : 'category' }}
                </mat-icon>
                <span class="list-text">{{ part.name }}</span>
                <mat-icon *ngIf="!part.isPublic" class="lock-icon">lock</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>

</div>