<ng-container *ngIf="building; else noBuildingData">
    <div class="building-info-panel">
        <header class="building-info-header">
            <!-- <button mat-icon-button class="expand-button" [ngClass]="{ 'rotated-button': isMobile }" (click)="openStructureViewPanel()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button> -->
            <button mat-icon-button class="expand-button" matTooltip="Gebäudeansicht öffnen" matTooltipPosition="before" matTooltipShowDelay="400" (click)="openStructureViewPanel()">
                <mat-icon>launch</mat-icon>
            </button>
            <h2 class="building-info-title">Gebäudeinfo</h2>
            <button mat-icon-button class="close-button" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </header>
    
        <mat-divider />

        <div class="spinner-container" *ngIf="isLoading">
            <mat-spinner [diameter]="80" [strokeWidth]="6" class="loading-spinner"></mat-spinner>
        </div>

        <div class="content-wrapper" *ngIf="!isLoading">
            <div class="building-info-data">
                <app-add-building-button *ngIf="isOnMap()" [building]="building" [userId]="userId" [isInitiallyAdded]="isBuildingAdded"></app-add-building-button>
        
                <h3>Gebäude ID: {{ building.bw_geb_id }}</h3>
                <p *ngIf="building.name">Name: {{ building.name }}</p>
                <p *ngIf="building.address">Adresse:  {{ building.address }}</p>
                <p>Nutzung: {{ usageLabel }}</p>
                <p>Bauperiode: {{ periodLabel }}</p>
                <p>Maximale Höhe: {{ building.maxhoehe}} m</p>
                <p [innerHTML]="'Volumen: ' + building.m3vol  + ' m&sup3;'"></p>    
                <p [innerHTML]="'Fläche: ' + building.m2flaeche  + ' m&sup2;'"></p>
                <p [innerHTML]="'Bruttogrundfläche: ' + building.m2bgf + ' m&sup2;'"></p>
            </div>
    
            <echarts [options]="usagePieChartOptions" class="chart-container"></echarts>
            <echarts [options]="materialsPieChartOptions" class="chart-container materials-chart-container"></echarts>
        
            <mat-divider />
        
            <h3>Dokumente</h3>
            <app-document-list [entity]="building" [skipFetch]="skipFetchDocuments" />
        </div>
    </div>
</ng-container>

<ng-template #noBuildingData>
    <p *ngIf="!isLoading" class="no-data">Keine Daten für das Gebäude vorhanden</p>
</ng-template>

