:host {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.building-info-panel {
    width: inherit;
    height: inherit;
    padding: 8px 12px 12px;
    background: white;
    border-radius: 12px;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.building-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 12px 0 10px;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}


h3 {
    margin: 10px 0;
}

p {
    margin: 8px 0;
}


.chart-container {
    width: 100%;
    min-width: 300px;
    aspect-ratio: 1 / 1.05; // Ensures height is always equal to width
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materials-chart-container {
    aspect-ratio: 1 / 1.12;
}

.custom-legend-container {
    display: flex;
    flex-direction: row-reverse; /* Moves buttons to the right */
    align-items: center;
}

.expand-button mat-icon {
    transform: translateX(4px);
}

.rotated-button {
    transform: rotate(90deg);
    transition: transform 0.2s ease;
    display: inline-block;

    mat-icon {
        transform: translateX(8px);
    }
}

.no-docs {
    color: gray;
}

mat-divider {
    margin: 2px 12px 1.6rem auto;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

// /* Responsive behavior for mobile devices*/
// @media (max-width: 800px) {
//     .chart-container {
//         max-width: 420px;
//     }
//   }

