:host {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.building-info-panel {
    width: inherit;
    height: inherit;
    padding: 8px 12px 12px;
    background: white;
    border-radius: 12px;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.building-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}

.building-info-data {
    h3 {
        margin: 10px 0;
    }
    p {
        margin: 8px 0;
    }
}

mat-divider {
    margin: 2px 12px 1.6rem auto;
}

mat-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); 

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .list-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

    .list-icon {
        margin-right: 12px;
        padding-top: 2px;
    }

    .list-text {
        flex-grow: 1;
        margin: auto;
        font-size: 18px;
        vertical-align: text-bottom;
    }

    .lock-icon {
        position:absolute;
        right: 0;
        bottom: 12px;
    }
}

mat-list-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
mat-list-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
  }


.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
    cursor: pointer;
}

.mat-list {
    border-radius: 8px;
    overflow: hidden;
}


.chart-container {
    width: 100%;
    min-width: 300px;
    aspect-ratio: 1 / 1.05; // Ensures height is always equal to width
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materials-chart-container {
    aspect-ratio: 1 / 1.12;
}

.custom-legend-container {
    display: flex;
    flex-direction: row-reverse; /* Moves buttons to the right */
    align-items: center;
}


.expand-button mat-icon {
    transform: translateX(4px);
}

/* Responsive behavior for mobile devices*/
@media (max-width: 800px) {
    .chart-container {
        max-width: 420px;
    }
  }

