<div class="building-info-panel">
    <header class="building-info-header">
        <button mat-icon-button class="expand-button" (click)="openStructureDetailsView()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h2 class="building-info-title">Gebäudeinfo</h2>
        <button mat-icon-button class="close-button" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </header>

    <mat-divider />

    <div class="building-info-data">
        <h3>Gebäude ID: {{ building?.bw_geb_id }}</h3>
        <p>Nutzung: {{ usageLabel }}</p>
        <p>Bauperiode: {{ periodLabel }}</p>
        <p>Maximale Höhe: {{ building?.maxhoehe}} m</p>
        <p [innerHTML]="'Volumen: ' + (building?.m3vol ?? 'Keine Information') + ' m&sup3;'"></p>    
        <p [innerHTML]="'Fläche: ' + (building?.m2flaeche ?? 'Keine Information') + ' m&sup2;'"></p>
        <p [innerHTML]="'Bruttogrundfläche: ' + (building?. m2bgf ?? 'Keine Information') + ' m&sup2;'"></p>
    </div>


    <echarts [options]="usagePieChartOptions" class="chart-container"></echarts>

    <echarts [options]="materialsPieChartOptions" class="chart-container materials-chart-container"></echarts>

    <mat-divider />

    <div class="list-container">
        <h3>Dokumente</h3>

        <mat-spinner *ngIf="isLoading" [diameter]="40" [strokeWidth]="3" class="loading-spinner" />

        <mat-list  *ngIf="!isLoading && documents.length > 0; else noDocsMessage">
            <mat-list-item *ngFor="let doc of documents">
                <mat-icon class="list-icon">insert_drive_file</mat-icon>
                <span class="list-text">{{ doc.name }}.{{ doc.fileType }}</span>
                <mat-icon *ngIf="!doc.isPublic" class="lock-icon">lock</mat-icon>
            </mat-list-item>
        </mat-list>
        <ng-template #noDocsMessage>
            <p class="no-docs">Keine Dokumente vorhanden</p>
        </ng-template>
    </div>

</div>