:host {
    height: 100%;
    width: 100%;
    display: flex;
}

.building-info-panel {
    width: inherit;
    height: inherit;
    padding: 8px 12px 12px;
    background: white;
    border: 2px solid #455a64;
    border-radius: 12px;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
}

.building-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        align-items: center;
    }
}

.building-info-data {
    h3 {
        margin: 10px 0;
    }
    p {
        margin: 8px 0;
    }
}

mat-divider {
    margin: 2px 12px 1.6rem auto;
}

.chart-container {
    width: 100%;
    min-width: 300px;
    max-width: 420px;
    aspect-ratio: 1 / 1; // Ensures height is always equal to width
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
