@use '@angular/material' as mat;

$my-primary: mat.define-palette((
  50: #e0f3fb,
  100: #b1e0f5,
  200: #7fccef,
  300: #50b8e7,
  400: #30a9e3,
  500: #179bde, // primary color base
  600: #148dcf,
  700: #107bbc,
  800: #0e6aa8, 
  900: #084b86,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
));

// Define the secondary palette (Grey-Blue)
$my-secondary: mat.define-palette((
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b, // secondary color base
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
));

// Define the complementary (Orange) palette
$my-complementary: mat.define-palette((
  50: #f8eae6,
  100: #f7cfbb,
  200: #f2b08f,
  300: #ed9462,
  400: #e97e3f,
  500: #e66c1a,
  600: #dc6617,
  700: #cf5f13,
  800: #c15811,
  900: #a84c0e, // complementary color base
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
));

$my-warn: mat.define-palette(mat.$deep-orange-palette);

// Backgrounds and other general colors
$white-background: #fff;
$image-preview-background: #fafafa;

$tag-color: mat.get-color-from-palette($my-secondary, 700);
$tag-background: rgba(132, 90, 38, 0.1);
$tag-background-active: rgba(132, 90, 38, 0.14);

// Menubar colors and styles
$menu-bar-background: #ececec;
$menu-bar-color: mat.get-contrast-color-from-palette($my-primary, 500);
$menu-bar-buttons-background: mat.get-color-from-palette($my-secondary, 700);
$menu-bar-button-icons-color: mat.get-color-from-palette($my-secondary, 700);
$menu-bar-button-icons-hover: mat.get-color-from-palette($my-secondary, 800);

$menu-name-color: mat.get-color-from-palette($my-secondary, 700);

$logo-background: mat.get-color-from-palette($my-secondary, 700);
$logo-section-width: 52px;
$logo-section-height: 52px;
$logo-section-width-mobile: 36px;
$logo-section-height-mobile: 36px;
$logo-section-margin-bottom: 12px;

$menu-logo-width: 38px;
$menu-logo-height: 38px;
$menu-logo-width-mobile: 28px;
$menu-logo-height-mobile: 28px;
$menu-logo-transform: translateY(2px);
$menu-logo-transform-mobile: translateY(1px);
$menu-logo-filter: none;

// Map element colors
$map-control-background: #f4f4f4;
$map-building-color: mat.get-color-from-palette($my-primary, 700);
$map-building-fill-color: mat.get-color-from-palette($my-primary, 500);
$map-building-block-color: mat.get-color-from-palette($my-secondary, 500);
$map-building-block-fill-color: mat.get-color-from-palette($my-secondary, 400);
$map-selected-building-color: #ff0000;
$map-selected-building-fill-color: #ff0000;