
h2 {
  font-size: 1.4rem !important;
}

mat-dialog-content {
    padding: 16px 24px !important;
}

.profile-info p { 
    font-size: 1.1rem;
    margin: 8px auto; 
}

.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.9rem;
  color: rgb(50, 50, 50);
}


.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}