<main>
  <div class="map-container" [hidden]="isStructureDetailsVisible">
    <div id="map">
      <app-filter-menu *ngIf="isFilterPanelVisible" 
        (closePanel)="toggleFilterPanel()" 
        (mouseenter)="disableMapInteractions()" 
        (mouseleave)="enableMapInteractions()" />
      <app-filter-button *ngIf="!isFilterPanelVisible" (click)="toggleFilterPanel()" />
    </div>
  
    <app-building-sidepanel 
        *ngIf="selectedBuilding" 
        [building]="selectedBuilding"
        (closePanel)="deselectBuilding()"
        (openStructureView)="showStructureDetails($event)"
        class="building-info" />
  </div>

  <app-structure-details 
      *ngIf="isStructureDetailsVisible" 
      [entity]="selectedBuilding"
      (closeDetails)="hideStructureDetails()" />

</main>
