<main>
  <div class="map-container" [hidden]="isStructureViewVisible">
    <div id="map">
      <app-filter-menu *ngIf="isFilterPanelVisible" 
        (closePanel)="toggleFilterPanel()" 
        (mouseenter)="disableMapInteractions()" 
        (mouseleave)="enableMapInteractions()" />
      <app-filter-button (click)="toggleFilterPanel()" />
    </div>
  
    <app-building-sidepanel 
        *ngIf="selectedBuilding" 
        [building]="selectedBuilding"
        (closePanel)="deselectBuilding()"
        (openStructureView)="showStructureView($event)"
        class="building-info" />
  </div>

  <app-structure-view
    *ngIf="isStructureViewVisible && selectedBuilding" 
    [entityContext]="structureContext"
    (closeStructureView)="hideStructureView()" />

</main>
