<main>
  <div class="map-view-container">
    <div id="map">
      <app-filter-menu *ngIf="isFilterPanelVisible" 
        (closePanel)="toggleFilterPanel()" 
        (mouseenter)="disableMapInteractions()" 
        (mouseleave)="enableMapInteractions()" />
      <app-filter-button *ngIf="!isFilterPanelVisible" (click)="toggleFilterPanel()" />
    </div>
  
    <app-building-information 
        *ngIf="selectedBuilding" 
        [building]="selectedBuilding"
        (closePanel)="deselectBuilding()"
        class="building-info" />
  </div>
</main>
