@use '@angular/material' as mat;
@use '../../../theme-setup' as vars;

h3 {
  font-size: 1.2rem;
  margin: 0 0 6px;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

.structure-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.regular-floors-container, .basement-floors-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.basement-floors-container {
  flex-direction: column;

  &:empty {
    display: none;
  }
}

.regular-floors-container {
  flex-direction: column-reverse;
}

.floor-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 16px 2px;
  border: 2px solid #888888;
  border-radius: 8px;
  gap: 0 1.6rem;
}

.roof-item {
  img {
    padding-bottom: 10px;
  }
}

.base-item {

  .form-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;

  }

  mat-form-field {
    flex: 1 1 210px; 
    min-width: 240px; 
    width: auto; 
    margin-bottom: 0;
  }

  img {
    padding-top: 14px;
  }

}

.form-box {
  flex: 0 1 auto;
  width: 100%;
  max-width: 520px;
  
  h3 {
    margin-bottom: 16px;
  }

  mat-form-field {
    width: 100%; 
    margin-bottom: 6px;
  }
}

.image-box {
  flex: 1; 
  min-width: 275px; 

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;


  img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 360px;
  }
}

// .separator-dashed {
//   border-top: 2px dashed #999;
//   margin: 20px 0;
// }

.ground-separator {
  border-top: 4px solid mat.get-color-from-palette(vars.$my-secondary, 900);
  border-radius: 8px;
  margin: 10px 0;
}

// .ground-separator {
//   display: flex;
//   align-items: center;
//   text-align: center;
//   margin: 1.4rem 0;
//   color: mat.get-color-from-palette(vars.$my-secondary, 900);
//   font-weight: 600;
//   text-transform: uppercase;
//   font-size: 0.9rem;
//   letter-spacing: 1px;

//   &::before,
//   &::after {
//     content: '';
//     flex: 1;
//     border-bottom: 3px double #555;
//   }

//   span {
//     padding: 0 15px;
//   }
// }

.dashed-block {
  border: 2px dashed #888;
  padding: 4px;
  border-radius: 8px;
}

.add-button {
  display: flex;
  justify-content: center;
  color: mat.get-color-from-palette(vars.$my-secondary, 700);
  
  &:hover {
    color: mat.get-color-from-palette(vars.$my-secondary, 800);
  }
}

.delete-button {
  position: absolute;
  top: 0px;
  right: 4px;
  z-index: 1000;
  color: mat.get-color-from-palette(vars.$my-secondary, 700);

  &:hover {
    color: mat.get-color-from-palette(vars.$my-warn, 500);
  }

}

mat-error {
  font-size: 14px;
}

@media (max-width: 1120px) {
  
  .floor-item {
    padding: 12px 16px;
  }


  .roof-item, .base-item {
    .form-fields-wrapper {
      display: flex;
      flex-direction: row;
      gap: 0 1rem;
    }

    .form-box {
      max-width: 100%;
      justify-content: space-between;

      mat-form-field {
        width: 100%; 
        margin-bottom: 6px;
      }
    }
  }

  img {
      padding-bottom: 0px;
      padding-top: 0px;
  }
}

@media (max-width: 874px) {
  .floor-input {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .roof-item {
    .form-fields-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  
  .floor-item {
    padding: 8px 12px;

  }
}
