@use '@angular/material' as mat;
@use 'theme-setup' as vars;

@import url("https://use.typekit.net/pox7hcz.css");


// Define a custom theme
@include mat.core(); // This is required for Material components to work

$my-theme: mat.define-light-theme((
  color: (
    primary: vars.$my-primary,
    accent: vars.$my-secondary,
    complementary: vars.$my-complementary,
    warn: vars.$my-warn
  )
));

// Apply the theme to Angular Material components
@include mat.all-component-themes($my-theme);


.private-element {
  cursor: default !important;      

  &:hover {
    opacity: 0.85;   
  }
}

.multiline-tooltip {
  white-space: pre-line;
}

.multiline-snackbar {
  white-space: pre-line;
  text-align: center;
}

.custom-dialog, .mat-dialog-container {
  width: 1200px;
  max-width: 90vw;
  height: fit-content;
  max-height: 95vh;
}

@media (max-width: 520px) {
  .custom-dialog, .mat-dialog-container {
    width: 96vw !important;
    max-width: 96vw !important;
  }
}


.leaflet-control-geocoder button:hover {
    background-color: #f4f4f4;
}

.leaflet-control-geocoder-form {
  width: 300px;
}

.leaflet-control-geocoder-form input {
    width: 300px;
}

ul.leaflet-control-geocoder-alternatives {
    width: 324px;
}

@media (max-width: 420px) {
  .leaflet-control-geocoder-form {
      width: 240px;
  }
    
  .leaflet-control-geocoder-form input {
      width: 240px;
  }
    
  ul.leaflet-control-geocoder-alternatives {
      width: 340px;
  }
}

@media (max-width: 340px) {
  .leaflet-control-geocoder-form {
      width: 230px;
    }
    
  .leaflet-control-geocoder-form input {
      width: 230px;
  }
    
  ul.leaflet-control-geocoder-alternatives {
      width: 250px;
  }
}

/* 
.leaflet-control-geocoder-throbber {
    display: none;
} */


.leaflet-control-filter {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leaflet-control-filter:hover {
    background-color: #f4f4f4;
}

.filter-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }

html, body { 
  height: 100%; 
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}