.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.add-button {
    // width: 260px;
    width: 100%;
    margin-right: 10px;
}   