<div class="not-found-container">
    <h1>404 – Seite nicht gefunden</h1>

    <!-- <div class="image">🧱</div>
    <h2>Hier endet der Weg</h2> -->

    <div class="image">🧭</div>
    <h2>Du hast dich wohl verlaufen…</h2>


    <p>Die von Ihnen aufgerufene Seite existiert nicht oder wurde verschoben.</p>
    
    <p>
    Hier geht es zurück zur 
    <a routerLink="/map">Karte</a>, 
    dem
    <a routerLink="/hub">Markt</a> 
    oder deiner 
    <a routerLink="/data">Gebäudeliste</a>.
    </p>
</div>
