<div class="not-found-container">
    <h1>404 – Seite nicht gefunden</h1>

    <!-- <div class="image">🧱</div>
    <h2>Hier endet der Weg</h2> -->

    <div class="image">🧭</div>
    <h2>Du hast dich wohl verlaufen…</h2>


    <p>Die aufgerufene Seite existiert nicht oder wurde verschoben.</p>
    
    <p *ngIf="user$ | async; else publicLinks">
    Hier geht es zurück zur 
    <a routerLink="/karte">Karte</a>, 
    dem
    <a routerLink="/markt">Markt</a> 
    oder der 
    <a routerLink="/bestandsverwaltung">Bestandsverwaltung</a>.
    </p>

    <ng-template #publicLinks>
        <p>
        Hier geht es zurück zur 
        <a routerLink="/karte">Karte</a>
        oder dem
        <a routerLink="/markt">Markt</a>.
        </p>
    </ng-template>
</div>
