h2 {
  font-size: 1.4rem !important;
}

mat-dialog-content {
    padding: 16px 24px !important;
    font-size: 1rem;
    line-height: 1.5;
    
    display: flex;
    flex-direction: column; 
    gap: 16px; 
}

.message-inline {
    display: inline;
}

.message-inline mat-icon {
    font-size: 1em;
    height: 1em;
    width: 1em;
    line-height: 1;
    vertical-align: text-bottom;
    margin: 0 2px 2px;
}

.slider-container {
    padding: 12px;
    background-color: #fff0f0;
    border-radius: 4px;
    border: 1px solid #ffcdd2;
}

.toggle-label {
    margin-left: 12px;
    font-weight: 500;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
