<div class="dialog-container">
    <h2 mat-dialog-title class="header">Gebäudestruktur</h2>

    <div mat-dialog-content class="content">
        
        <div class="selectors">
            <h3>Anzahl der Geschosse</h3>
            <mat-form-field *ngFor="let floor of floors.slice().reverse(); let i = index" appearance="outline">
                <mat-label>{{ floor.label }}</mat-label>
                <mat-select [(ngModel)]="floorValues[floors.length - 1 - i]" (focus)="highlightFloor(floor.name)" (blur)="clearHighlight()">
                    <mat-option *ngFor="let val of valueOptions" [value]="val">{{ val }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="house-chart">
            <img src="assets/images/house_icon_primary.svg" class="house-icon" />
            <!-- <svg src="assets/images/house_icon_primary.svg" 
                alt="House Icon" 
                class="house-icon" 
            ></svg> -->
        </div>
    </div>

    <div mat-dialog-actions class="actions">
    <button mat-button (click)="close()">Abbruch</button>
    <button mat-button color="primary" (click)="save()">Bestätigen</button>
    </div>
</div>

